pipeline/00_STREAM_COMMON_copy1.json
{
	"name": "00_STREAM_COMMON_copy1",
	"properties": {
		"activities": [
			{
				"name": "GET PROCESS LIST",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "START STREAM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[CNTL].[PROC_GET_PCS_STREAM]",
						"storedProcedureParameters": {
							"P_STREAM_NM": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_STREAM_NM",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "mssql_cntl_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FOR EACH PROCESS",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GET PROCESS LIST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GET PROCESS LIST').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 20,
					"activities": [
						{
							"name": "RUN COMMON PROCESS",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "20_PCS_COMMON_START",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"P_PROCESS_NM": {
										"value": "@item().PCS_NM",
										"type": "Expression"
									},
									"P_RUN_MODE": {
										"value": "@pipeline().parameters.P_RUN_MODE",
										"type": "Expression"
									},
									"P_STREAM_SEQ_ID": {
										"value": "@activity('START STREAM').output.FIRSTROW.STREAM_SEQ_ID",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "STREAM RESULT",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "UPDATE STREAM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[CNTL].[PROC_STREAM_RESULT]",
						"storedProcedureParameters": {
							"P_STREAM_NM": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_STREAM_NM",
									"type": "Expression"
								}
							},
							"P_STREAM_SEQ_ID": {
								"type": "String",
								"value": {
									"value": "@activity('START STREAM').output.FIRSTROW.STREAM_SEQ_ID",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "mssql_cntl_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "FINAL STREAM",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "FOR EACH PROCESS",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[CNTL].[PROC_FINAL_STREAM]",
						"storedProcedureParameters": {
							"P_AS_AT_DT": {
								"type": "String",
								"value": {
									"value": "@activity('START STREAM').output.FIRSTROW.AS_AT_DT",
									"type": "Expression"
								}
							},
							"P_STREAM_NM": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_STREAM_NM",
									"type": "Expression"
								}
							},
							"P_STREAM_SEQ_ID": {
								"type": "String",
								"value": {
									"value": "@activity('START STREAM').output.FIRSTROW.STREAM_SEQ_ID",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "mssql_cntl_ds",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SEND EMAIL",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GET EMAIL",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "STREAM RESULT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-05.southeastasia.logic.azure.com:443/workflows/87cb500b80b74094a5bea5f149f3b45a/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=U4UdfX5WK2SF1bQKwro9Wmujq8RKOiGaTvcvclI17pw",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n\"Message\":\"@{activity('STREAM RESULT').output.firstrow.a}\",\n\"EmailTo\":\"@{activity('GET EMAIL').output.firstrow.EMAIL}\",\n\"Asat_dt\":\"@{activity('FINAL STREAM').output.firstrow.AS_AT_DT_FORMAT}\",\n\"StreamName\":\"@{pipeline().parameters.P_STREAM_NM}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GET EMAIL",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "FINAL STREAM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[CNTL].[PROC_GET_EMAIL]",
						"storedProcedureParameters": {
							"P_STREAM_NM": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_STREAM_NM",
									"type": "Expression"
								}
							},
							"P_STREAM_RESULT": {
								"type": "String",
								"value": {
									"value": "@activity('FINAL STREAM').output.FIRSTROW.STREAM_RESULT",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "mssql_cntl_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "START STREAM",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[CNTL].[PROC_CNTL_ACTV_STREAM]",
						"storedProcedureParameters": {
							"P_RUN_MODE": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_RUN_MODE",
									"type": "Expression"
								}
							},
							"P_STREAM_NM": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_STREAM_NM",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "mssql_cntl_ds",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "UPDATE STREAM",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "FINAL STREAM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CNTL].[PROC_UDT_STREAM]",
					"storedProcedureParameters": {
						"P_STREAM_NM": {
							"value": {
								"value": "@pipeline().parameters.P_STREAM_NM",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_STREAM_RESULT": {
							"value": {
								"value": "@activity('FINAL STREAM').output.firstrow.STREAM_RESULT",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_STREAM_SEQ_ID": {
							"value": {
								"value": "@activity('START STREAM').output.FIRSTROW.STREAM_SEQ_ID",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "link_sqldb_kkpb_edp",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"P_STREAM_NM": {
				"type": "string",
				"defaultValue": "EDP_FTP"
			},
			"P_RUN_MODE": {
				"type": "string",
				"defaultValue": "R"
			}
		},
		"variables": {
			"V_STREAM_RESULT": {
				"type": "String",
				"defaultValue": "-999"
			}
		},
		"folder": {
			"name": "BK"
		},
		"annotations": [],
		"lastPublishTime": "2021-02-06T00:36:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}