pipeline/10_COMMON_RUN_PCS_GRP_copy1.json
{
	"name": "10_COMMON_RUN_PCS_GRP_copy1",
	"properties": {
		"description": " ",
		"activities": [
			{
				"name": "GET PROCESS LIST",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": {
							"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_GET_PRCS_BY_GRP')",
							"type": "Expression"
						},
						"storedProcedureParameters": {
							"P_PRCS_GRP": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_PRCS_GRP",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "mssql_cntl_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GET PROCESS LIST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_PROCESS_LIST",
					"value": {
						"value": "@activity('GET PROCESS LIST').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"P_PRCS_GRP": {
				"type": "string"
			}
		},
		"variables": {
			"V_PROCESS_LIST": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "COMMON JOB"
		},
		"annotations": [],
		"lastPublishTime": "2021-02-24T05:06:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}