pipeline/10_COMMON_RUN_PCS_GRP_copy1.json
{
	"name": "10_COMMON_RUN_PCS_GRP_copy1",
	"properties": {
		"description": " ",
		"activities": [
			{
				"name": "GET PROCESS LIST",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": {
							"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_GET_PRCS_BY_GRP')",
							"type": "Expression"
						},
						"storedProcedureParameters": {
							"P_PRCS_GRP": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_PRCS_GRP",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "mssql_cntl_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "GET PROCESS LIST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(INT(variables('V_LOOP')),activity('GET PROCESS LIST').output.count)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "V_PRCS_NM",
								"value": {
									"value": "@activity('GET PROCESS LIST').output.value[int(variables('V_LOOP'))].PRCS_NM",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "V_TMP",
								"value": {
									"value": "@variables('V_LOOP')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable3_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "V_LOOP",
								"value": {
									"value": "@string(ADD(int(variables('V_TMP')),1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable3_copy1_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "V_LOOP",
								"value": "999"
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"parameters": {
			"P_PRCS_GRP": {
				"type": "string",
				"defaultValue": "T1_DLT_CAR_D"
			}
		},
		"variables": {
			"V_PROCESS_LIST": {
				"type": "Array"
			},
			"V_PRCS_NM": {
				"type": "String"
			},
			"V_LOOP": {
				"type": "String",
				"defaultValue": "0"
			},
			"V_TMP": {
				"type": "String"
			}
		},
		"folder": {
			"name": "COMMON JOB"
		},
		"annotations": [],
		"lastPublishTime": "2021-02-24T05:06:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}