pipeline/10_COMMON_RUN_PCS_GRP_copy1.json
{
	"name": "10_COMMON_RUN_PCS_GRP_copy1",
	"properties": {
		"activities": [
			{
				"name": "GET PROCESS LIST",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[CNTL].[PROC_GET_PCS_BY_PCS_GRP]",
						"storedProcedureParameters": {
							"P_PCS_GRP": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_PCS_GRP",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "mssql_cntl_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GET PROCESS LIST",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GET PROCESS LIST').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "RUN COMMON PROCESS",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "20_PCS_COMMON_START",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"P_PROCESS_NM": {
										"value": "@item().PCS_NM",
										"type": "Expression"
									},
									"P_RUN_MODE": {
										"value": "@pipeline().parameters.P_RUN_MODE",
										"type": "Expression"
									},
									"P_STREAM_SEQ_ID": {
										"value": "@pipeline().parameters.P_STREAM_SEQ_ID",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"P_PCS_GRP": {
				"type": "string"
			},
			"P_RUN_MODE": {
				"type": "string"
			},
			"P_STREAM_SEQ_ID": {
				"type": "string"
			}
		},
		"folder": {
			"name": "BK"
		},
		"annotations": [],
		"lastPublishTime": "2021-02-24T05:06:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}