pipeline/20_PCS_COMMON_START.json
{
	"name": "20_PCS_COMMON_START",
	"properties": {
		"activities": [
			{
				"name": "START PROCESS",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": {
							"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA, '.[PROC_STRT_PRCS]')",
							"type": "Expression"
						},
						"storedProcedureParameters": {
							"P_PRCS_NM": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_PRCS_NM",
									"type": "Expression"
								}
							},
							"P_RUN_MODE": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_RUN_MODE",
									"type": "Expression"
								}
							},
							"P_STREM_ID": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_STREM_ID",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "mssql_cntl_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "GET SKIP FLAG",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "START PROCESS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_SKIP_PRCS",
					"value": {
						"value": "@activity('START PROCESS').output.FIRSTROW.SKIP_PRCS",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CHECK SKIP FLAG",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GET SKIP FLAG",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GET LOAD ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('V_SKIP_PRCS'),'0')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "SKIP PROCESS",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT 1",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "mssql_cntl_ds",
									"type": "DatasetReference"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "RUN_PCS_COMMON_VALIDATE",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "30_PCS_COMMON_VALIDATE",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"P_PRCS_NM": {
										"value": "@pipeline().parameters.P_PRCS_NM",
										"type": "Expression"
									},
									"P_RUN_MODE": {
										"value": "@pipeline().parameters.P_RUN_MODE",
										"type": "Expression"
									},
									"P_LD_ID": {
										"value": "@variables('V_LD_ID')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "GET LOAD ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "START PROCESS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_LD_ID",
					"value": {
						"value": "@activity('START PROCESS').output.FIRSTROW.LD_ID",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"P_PRCS_NM": {
				"type": "string",
				"defaultValue": "SINGHAARM_SINGHAARM_AGENT"
			},
			"P_RUN_MODE": {
				"type": "string",
				"defaultValue": "R"
			},
			"P_STREM_ID": {
				"type": "string",
				"defaultValue": "-999"
			}
		},
		"variables": {
			"V_SKIP_PRCS": {
				"type": "String",
				"defaultValue": "999"
			},
			"V_LD_ID": {
				"type": "String",
				"defaultValue": "999"
			}
		},
		"folder": {
			"name": "COMMON JOB"
		},
		"annotations": [],
		"lastPublishTime": "2021-02-24T06:12:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}