pipeline/20_PCS_COMMON_VALIDATE_copy1.json
{
	"name": "20_PCS_COMMON_VALIDATE_copy1",
	"properties": {
		"activities": [
			{
				"name": "CHECK STREAM INFORMATION",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GET PROCESS INFORMATION",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('GET PROCESS INFORMATION').output.firstrow.CHECK_STREAM_F,'1')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "ABORT CHECK STREAM INFORMATION",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT 1/0",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "mssql_cntl_ds",
									"type": "DatasetReference"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "PASS CHECK STREAM INFORMATION",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT 1",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "mssql_cntl_ds",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "CHECK LATEST LOG",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GET LATEST LOG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('GET LATEST LOG').output.FIRSTROW.LTST_LOG_F,'1')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "ABORT CHECK LATEST LOG",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT 1/0",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "mssql_cntl_ds",
									"type": "DatasetReference"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "PASS CHECK LATEST LOG",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT 1",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "mssql_cntl_ds",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "GET PROCESS INFORMATION",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[CNTL].[PROC_GET_PCS]",
						"storedProcedureParameters": {
							"P_PCS_NM": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_PCS_NM",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "mssql_cntl_ds",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CHECK DNDP",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GET DNDP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('GET DNDP').output.FIRSTROW.DPND_F,'1')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "ABORT CHECK DNDP",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT 1/0",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "mssql_cntl_ds",
									"type": "DatasetReference"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "PASS CHECK DNDP",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT 1",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "mssql_cntl_ds",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "GET LATEST LOG",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "CHECK STREAM INFORMATION",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[CNTL].[PROC_CHK_LTST_PCS]",
						"storedProcedureParameters": {
							"P_LOAD_ID": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_LOAD_ID",
									"type": "Expression"
								}
							},
							"P_PCS_NM": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_PCS_NM",
									"type": "Expression"
								}
							},
							"P_RUN_MODE": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_RUN_MODE",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "mssql_cntl_ds",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "GET DNDP",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "CHECK LATEST LOG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[CNTL].[PROC_CHK_DPND_PCS]",
						"storedProcedureParameters": {
							"P_AS_AT_DT": {
								"type": "String",
								"value": {
									"value": "@activity('GET PROCESS INFORMATION').output.firstrow.AS_AT_DT",
									"type": "Expression"
								}
							},
							"P_LOAD_ID": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_LOAD_ID",
									"type": "Expression"
								}
							},
							"P_PCS_NM": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_PCS_NM",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "mssql_cntl_ds",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "UPDATE FAILED ON STREAM",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CHECK STREAM INFORMATION",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CNTL].[PROC_UDT_PCS]",
					"storedProcedureParameters": {
						"P_CNT_SRC": {
							"value": null,
							"type": "String"
						},
						"P_CNT_TGT": {
							"value": null,
							"type": "String"
						},
						"P_LOAD_ID": {
							"value": {
								"value": "@pipeline().parameters.P_LOAD_ID",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_PCS_NM": {
							"value": {
								"value": "@pipeline().parameters.P_PCS_NM",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_RMRK": {
							"value": "STREAM NOT AVAILABLE",
							"type": "String"
						},
						"P_ST": {
							"value": "FAILED",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "link_sqldb_kkpb_edp",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "UPDATE FAILED ON LATEST LOG",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CHECK LATEST LOG",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CNTL].[PROC_UDT_PCS]",
					"storedProcedureParameters": {
						"P_CNT_SRC": {
							"value": null,
							"type": "String"
						},
						"P_CNT_TGT": {
							"value": null,
							"type": "String"
						},
						"P_LOAD_ID": {
							"value": {
								"value": "@pipeline().parameters.P_LOAD_ID",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_PCS_NM": {
							"value": {
								"value": "@pipeline().parameters.P_PCS_NM",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_RMRK": {
							"value": "PREVIOUS CYCLE PROCESS DID NOT COMPLETE",
							"type": "String"
						},
						"P_ST": {
							"value": "FAILED",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "link_sqldb_kkpb_edp",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "UPDATE FAILED ON DEPENDENCIES",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CHECK DNDP",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CNTL].[PROC_UDT_PCS]",
					"storedProcedureParameters": {
						"P_CNT_SRC": {
							"value": null,
							"type": "String"
						},
						"P_CNT_TGT": {
							"value": null,
							"type": "String"
						},
						"P_LOAD_ID": {
							"value": {
								"value": "@pipeline().parameters.P_LOAD_ID",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_PCS_NM": {
							"value": {
								"value": "@pipeline().parameters.P_PCS_NM",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_RMRK": {
							"value": "CHECKING DEPENDENCY FAILED",
							"type": "String"
						},
						"P_ST": {
							"value": "FAILED",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "link_sqldb_kkpb_edp",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GET RECONCILE",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Switch1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[CNTL].[PROC_CHK_RECONCILE]",
						"storedProcedureParameters": {
							"P_LOAD_ID": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_LOAD_ID",
									"type": "Expression"
								}
							},
							"P_PCS_NM": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_PCS_NM",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "mssql_cntl_ds",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CHECK RECONCILE",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GET RECONCILE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('GET RECONCILE').output.FIRSTROW.RECONCILE_F,'1')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "ABORT CHECK RECONCILE",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT 1/0",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "mssql_cntl_ds",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "UPDATE SUCCESS",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CHECK RECONCILE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CNTL].[PROC_UDT_PCS]",
					"storedProcedureParameters": {
						"P_CNT_SRC": {
							"value": {
								"value": "@activity('GET RECONCILE').output.firstrow.CNT_SRC",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_CNT_TGT": {
							"value": {
								"value": "@activity('GET RECONCILE').output.firstrow.CNT_TGT",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_LOAD_ID": {
							"value": {
								"value": "@pipeline().parameters.P_LOAD_ID",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_PCS_NM": {
							"value": {
								"value": "@pipeline().parameters.P_PCS_NM",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_RMRK": {
							"value": null,
							"type": "String"
						},
						"P_ST": {
							"value": "SUCCESS",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "link_sqldb_kkpb_edp",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "UPDATE FAILED ON RECONCILE",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CHECK RECONCILE",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CNTL].[PROC_UDT_PCS]",
					"storedProcedureParameters": {
						"P_CNT_SRC": {
							"value": {
								"value": "@activity('GET RECONCILE').output.firstrow.CNT_SRC",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_CNT_TGT": {
							"value": {
								"value": "@activity('GET RECONCILE').output.firstrow.CNT_TGT",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_LOAD_ID": {
							"value": {
								"value": "@pipeline().parameters.P_LOAD_ID",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_PCS_NM": {
							"value": {
								"value": "@pipeline().parameters.P_PCS_NM",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_RMRK": {
							"value": "RECONCILE FAILED",
							"type": "String"
						},
						"P_ST": {
							"value": "FAILED",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "link_sqldb_kkpb_edp",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "UPDATE FAILED ON COPY ACTIVITY",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Switch1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CNTL].[PROC_UDT_PCS]",
					"storedProcedureParameters": {
						"P_CNT_SRC": {
							"value": null,
							"type": "String"
						},
						"P_CNT_TGT": {
							"value": null,
							"type": "String"
						},
						"P_LOAD_ID": {
							"value": {
								"value": "@pipeline().parameters.P_LOAD_ID",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_PCS_NM": {
							"value": {
								"value": "@pipeline().parameters.P_PCS_NM",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_RMRK": {
							"value": "COPY ACTIVITY FAILED",
							"type": "String"
						},
						"P_ST": {
							"value": "FAILED",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "link_sqldb_kkpb_edp",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Switch1",
				"description": "1: Call Azure Function\n2: Copy data",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "CHECK DNDP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('GET PROCESS INFORMATION').output.firstrow.PCS_TYPE",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "1",
							"activities": [
								{
									"name": "Azure Function1",
									"type": "AzureFunctionActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"functionName": {
											"value": "@activity('GET PROCESS INFORMATION').output.firstRow.FUNC_NM",
											"type": "Expression"
										},
										"method": "POST",
										"body": {
											"value": "@activity('GET PROCESS INFORMATION').output.firstRow.PARAM",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "link_func_edp",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "EDW UPDATE COUNT TARGET",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Azure Function1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[CNTL].[PROC_UDT_PCS]",
										"storedProcedureParameters": {
											"P_CNT_SRC": {
												"value": null,
												"type": "String"
											},
											"P_CNT_TGT": {
												"value": null,
												"type": "String"
											},
											"P_LOAD_ID": {
												"value": {
													"value": "@pipeline().parameters.P_LOAD_ID",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_PCS_NM": {
												"value": {
													"value": "@pipeline().parameters.P_PCS_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_RMRK": {
												"value": null,
												"type": "String"
											},
											"P_ST": {
												"value": "START",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "link_sqldb_kkpb_edp",
										"type": "LinkedServiceReference"
									}
								}
							]
						},
						{
							"value": "2",
							"activities": [
								{
									"name": "PCS_COMMON_COPY",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "40_PCS_COMMON_TYPE2",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"P_LOAD_ID": {
												"value": "@pipeline().parameters.P_LOAD_ID",
												"type": "Expression"
											},
											"P_PCS_NM": {
												"value": "@pipeline().parameters.P_PCS_NM",
												"type": "Expression"
											},
											"P_PCS_OBJ": {
												"value": "@activity('GET PROCESS INFORMATION').output.firstrow",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"P_PCS_NM": {
				"type": "string",
				"defaultValue": "SINGHAARM_SINGHAARM_AGENT"
			},
			"P_RUN_MODE": {
				"type": "string",
				"defaultValue": "R"
			},
			"P_LOAD_ID": {
				"type": "string",
				"defaultValue": "999"
			}
		},
		"folder": {
			"name": "BK"
		},
		"annotations": [],
		"lastPublishTime": "2021-02-06T18:31:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}