pipeline/40_PCS_COMMON_TYPE2_copy1.json
{
	"name": "40_PCS_COMMON_TYPE2_copy1",
	"properties": {
		"activities": [
			{
				"name": "Copy Raw",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "bin_onprim_ds",
						"type": "DatasetReference",
						"parameters": {
							"P_PATH": {
								"value": "@concat(pipeline().parameters.P_PCS_OBJ.PATH, '/', pipeline().parameters.P_PCS_OBJ.AS_AT_DT)",
								"type": "Expression"
							},
							"P_FILENAME": {
								"value": "@activity('Lookup1').output.firstrow.FILE_NM",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "bin_blob_ds",
						"type": "DatasetReference",
						"parameters": {
							"P_CONTAINER": {
								"value": "@pipeline().parameters.P_PCS_OBJ.CONTAINER",
								"type": "Expression"
							},
							"P_PATH": {
								"value": "@concat(pipeline().parameters.P_PCS_OBJ.PATH, '/', pipeline().parameters.P_PCS_OBJ.AS_AT_DT)",
								"type": "Expression"
							},
							"P_FILENAME": {
								"value": "@activity('Lookup1').output.firstrow.FILE_NM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[CNTL].[PROC_GET_FILE]",
						"storedProcedureParameters": {
							"P_ASAT_DT": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_PCS_OBJ.AS_AT_DT",
									"type": "Expression"
								}
							},
							"P_FILE_ID": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.P_PCS_OBJ.FILE_ID",
									"type": "Expression"
								}
							},
							"P_PCS_NM": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_PCS_NM",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "mssql_cntl_ds",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Check NULL and Duplicated",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Copy Raw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/00_Common/edp/adf/dbn-adf-pre-check",
					"baseParameters": {
						"PARAMS": {
							"value": "@activity('Lookup1').output.firstrow.PARAMS",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "link_dbw_edp",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy STG",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Check NULL and Duplicated",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup Schema",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"value": "@activity('Lookup Schema').output",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "dl_csv_ds",
						"type": "DatasetReference",
						"parameters": {
							"P_PATH": {
								"value": "@concat(pipeline().parameters.P_PCS_OBJ.PATH,'/',pipeline().parameters.P_PCS_OBJ.AS_AT_DT)",
								"type": "Expression"
							},
							"P_FILENAME": {
								"value": "@activity('Lookup1').output.firstrow.FILE_NM",
								"type": "Expression"
							},
							"P_DELIMITER": {
								"value": "@activity('Lookup1').output.firstrow.DELIMITER",
								"type": "Expression"
							},
							"P_ENCODING": {
								"value": "@activity('Lookup1').output.firstrow.ENCODING",
								"type": "Expression"
							},
							"P_FIRSTROW_HDR": {
								"value": "@activity('Lookup1').output.firstrow.FRST_ROW_HDR",
								"type": "Expression"
							},
							"P_CONTAINER": {
								"value": "@activity('Lookup1').output.firstrow.CONTAINER",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dl_parquet_ds",
						"type": "DatasetReference",
						"parameters": {
							"P_CONTAINER": {
								"value": "@pipeline().parameters.P_PCS_OBJ.TGT_CONTAINER",
								"type": "Expression"
							},
							"P_PATH": {
								"value": "@concat(pipeline().parameters.P_PCS_OBJ.TGT_PATH, '/ASAT_DT=', pipeline().parameters.P_PCS_OBJ.AS_AT_DT)",
								"type": "Expression"
							},
							"P_FILENAME": {
								"value": "@activity('Lookup1').output.firstrow.FILE_NM",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Update Log Count",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy STG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[CNTL].[PROC_UDT_PCS]",
					"storedProcedureParameters": {
						"P_CNT_FI_SRC": {
							"value": null,
							"type": "String"
						},
						"P_CNT_FI_TGT": {
							"value": null,
							"type": "String"
						},
						"P_CNT_REC_SRC": {
							"value": {
								"value": "@activity('Copy STG').output.rowsRead",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_CNT_REC_TGT": {
							"value": {
								"value": "@activity('Copy STG').output.rowsCopied",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_LOAD_ID": {
							"value": {
								"value": "@pipeline().parameters.P_LOAD_ID",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_PCS_NM": {
							"value": {
								"value": "@pipeline().parameters.P_PCS_NM",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_RMRK": {
							"value": "Complete Copy to Staging",
							"type": "String"
						},
						"P_ST": {
							"value": "Running",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "link_sqldb_kkpb_edp",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup Schema",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json1",
						"type": "DatasetReference",
						"parameters": {
							"P_FILENAME": {
								"value": "@activity('Lookup1').output.firstrow.SCHM_FI",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"P_LOAD_ID": {
				"type": "string",
				"defaultValue": "-999"
			},
			"P_PCS_NM": {
				"type": "string",
				"defaultValue": "GET_LOCATION_FACE_RECOGNITION_CustGeoInfo"
			},
			"P_PCS_OBJ": {
				"type": "object"
			}
		},
		"folder": {
			"name": "BK"
		},
		"annotations": [],
		"lastPublishTime": "2021-02-06T18:20:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}