pipeline/40_PCS_COMMON_TYPE3.json
{
	"name": "40_PCS_COMMON_TYPE3",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": {
						"value": "@pipeline().parameters.P_PRCS_OBJ.ADB_NM",
						"type": "Expression"
					},
					"baseParameters": {
						"PARAMS": {
							"value": "@pipeline().parameters.P_PRCS_OBJ.ADB_PARM",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "link_dbw_edp",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "dl_work_ds",
						"type": "DatasetReference",
						"parameters": {
							"P_FILEPATH": "TMP/STOREDSCRIPT",
							"P_FILENAME": "concat(@pipeline().parameters.P_PRCS_NM,'.sql')"
						}
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_SCRIPT",
					"value": {
						"value": "@replace(activity('Lookup1').output,'%ASAT_DT%',pipeline().parameters.P_PRCS_OBJ.CALC_ASAT_DT)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[CREATE_EXTERNAL_TABLE]",
					"storedProcedureParameters": {
						"SQL": {
							"value": {
								"value": "@variables('V_SCRIPT')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "link_syn_kkpb_edp",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"P_LD_ID": {
				"type": "string"
			},
			"P_PRCS_NM": {
				"type": "string"
			},
			"P_PRCS_OBJ": {
				"type": "object"
			}
		},
		"variables": {
			"V_SCRIPT": {
				"type": "String"
			}
		},
		"folder": {
			"name": "COMMON JOB"
		},
		"annotations": [],
		"lastPublishTime": "2021-02-06T18:32:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}