pipeline/99_EMAIL_FINAL_RESULT.json
{
	"name": "99_EMAIL_FINAL_RESULT",
	"properties": {
		"activities": [
			{
				"name": "STREAM RESULT",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "START STREAM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": {
							"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_BATCH_RSLT')",
							"type": "Expression"
						},
						"storedProcedureParameters": {
							"P_DATA_DT": {
								"type": "String",
								"value": {
									"value": "@activity('START STREAM').output.FIRSTROW.DATA_DT",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "mssql_cntl_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "SEND EMAIL",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "UPDATE STREAM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-11.southeastasia.logic.azure.com:443/workflows/0c8fc5c0ef894032905ccf103cbe04a7/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=agmp-_JAWWQboJJN9WzVGHrl7MuFv6UUDPuhdqhiqAM",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n\"Message\":\"@{activity('STREAM RESULT').output.firstrow.RESULT_SET}\",\n\"EmailTo\":\"@{activity('GET EMAIL').output.firstrow.EMAIL}\",\n\"Data_dt\":\"@{activity('START STREAM').output.firstrow.DATA_DT}\",\n\"StreamName\":\"All\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GET EMAIL",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "START STREAM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": {
							"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_GET_EMAIL')",
							"type": "Expression"
						},
						"storedProcedureParameters": {
							"P_STREM_NM": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_STREM_NM",
									"type": "Expression"
								}
							},
							"P_STREM_RSLT": {
								"type": "String",
								"value": "SUCCESS"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "mssql_cntl_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "START STREAM",
				"description": "           ",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": {
							"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_STRT_STREM')",
							"type": "Expression"
						},
						"storedProcedureParameters": {
							"P_RUN_MODE": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_RUN_MODE",
									"type": "Expression"
								}
							},
							"P_STREM_NM": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.P_STREM_NM",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "mssql_cntl_ds",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "UPDATE STREAM",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "GET EMAIL",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "STREAM RESULT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_UPDT_STREM')",
						"type": "Expression"
					},
					"storedProcedureParameters": {
						"P_STREM_NM": {
							"value": {
								"value": "@pipeline().parameters.P_STREM_NM",
								"type": "Expression"
							},
							"type": "String"
						},
						"P_STREM_RSLT": {
							"value": "SUCCESS",
							"type": "String"
						},
						"P_STREM_ID": {
							"value": {
								"value": "@activity('START STREAM').output.FIRSTROW.STREM_ID",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "link_sqldb_kkpb_edp",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"P_RUN_MODE": {
				"type": "string",
				"defaultValue": "R"
			},
			"P_STREM_NM": {
				"type": "string",
				"defaultValue": "EDP_FINAL"
			}
		},
		"annotations": []
	}
}