pipeline/pipeline2_copy1.json
{
	"name": "pipeline2_copy1",
	"properties": {
		"activities": [
			{
				"name": "Copy STG",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup Schema",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"value": "@activity('Lookup Schema').output.firstRow",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "dl_csv_ds",
						"type": "DatasetReference",
						"parameters": {
							"P_PATH": "TMP/SOURCE/",
							"P_FILENAME": "TEST.txt",
							"P_DELIMITER": "|",
							"P_ENCODING": "UTF-8",
							"P_FIRSTROW_HDR": "Y",
							"P_CONTAINER": "working"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dl_parquet_ds",
						"type": "DatasetReference",
						"parameters": {
							"P_CONTAINER": "working",
							"P_PATH": "TMP/SOURCE/",
							"P_FILENAME": "TEST.parquet"
						}
					}
				]
			},
			{
				"name": "Lookup Schema",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "dl_json_ds",
						"type": "DatasetReference",
						"parameters": {
							"P_FILENAME": "TEST.json"
						}
					}
				}
			}
		],
		"parameters": {
			"P_SCHEMA": {
				"type": "string"
			}
		},
		"folder": {
			"name": "TEST"
		},
		"annotations": []
	}
}