pipeline/RIB_EXT.json
{
	"name": "RIB_EXT",
	"properties": {
		"activities": [
			{
				"name": "Notebook2",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/00_Common/edp/adf/dbn-gen-script-rib",
					"baseParameters": {
						"PARAMS": {
							"value": "@pipeline().parameters.PARAMS",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "link_dbw_edp",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Notebook2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[CREATE_EXTERNAL_TABLE]",
					"storedProcedureParameters": {
						"SQL": {
							"value": {
								"value": "@activity('Notebook2').output.runOutput",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "link_syn_kkpb_edp",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"PARAMS": {
				"type": "string"
			}
		},
		"folder": {
			"name": "TEST"
		},
		"annotations": [],
		"lastPublishTime": "2021-02-24T05:06:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}