pipeline/RUN_INITIAL_LOOP.json
{
	"name": "RUN_INITIAL_LOOP",
	"properties": {
		"activities": [
			{
				"name": "RUN_LOOP",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('V_DATA_DT'), '20210331')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "00_STREAM_COMMON",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "00_STREAM_COMMON",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"P_STREM_NM": {
										"value": "@pipeline().parameters.P_STREAM_NM",
										"type": "Expression"
									},
									"P_RUN_MODE": "N"
								}
							}
						},
						{
							"name": "Lookup1",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "00_STREAM_COMMON",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "select data_dt from CNTL.CNTL_CFG_STREM where STREM_NM = 'EDP_DLT'",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "mssql_cntl_ds",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "V_DATA_DT",
								"value": {
									"value": "@activity('Lookup1').output.firstrow.data_dt",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"parameters": {
			"P_STREAM_NM": {
				"type": "string"
			}
		},
		"variables": {
			"V_DATA_DT": {
				"type": "String"
			}
		},
		"annotations": []
	}
}