pipeline/TEST SHAREPOINTS.json
{
	"name": "TEST SHAREPOINTS",
	"properties": {
		"description": "Copy sharepoints to ref",
		"activities": [
			{
				"name": "Copy Raw",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"additionalHeaders": {
								"value": "@{concat('Authorization: Bearer ', activity('GetBearerToken').output.access_token)}",
								"type": "Expression"
							},
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "sp_bin_ds",
						"type": "DatasetReference",
						"parameters": {
							"ServerRelativeUrl": "/sites/EDPFileCenterUAT/ShareCenter/Landing/internal/manualfile/real_estate/20201231/BMR_202012.xlsx"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dl_bin_ds3",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "GetBearerToken",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().globalParameters.P_GLBL_BEARER_TOKEN",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=client_credentials&client_id=8578d84d-db28-449a-9c11-a8bae5465c04@9fce0284-1a8c-4368-85b0-571bbad0df08&client_secret=mVbWh~igL5kKkzFVXEg6BLOw86--_G4.cd&resource=00000003-0000-0ff1-ce00-000000000000/kiatnakin365.sharepoint.com@9fce0284-1a8c-4368-85b0-571bbad0df08"
				}
			}
		],
		"folder": {
			"name": "TEST"
		},
		"annotations": [],
		"lastPublishTime": "2021-02-25T03:32:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}