adf-kkpb-dev-edp/PartialArmTemplates/ArmTemplate_6_30_2021_11_53_20.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-kkpb-dev-edp"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/40_PCS_COMMON_TYPE11')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Load text data from On-prim to STG for large file",
				"activities": [
					{
						"name": "Copy Raw",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "onprim_bin_ds",
								"type": "DatasetReference",
								"parameters": {
									"P_PATH": {
										"value": "@concat(pipeline().parameters.P_PRCS_OBJ.PTH, '/', pipeline().parameters.P_PRCS_OBJ.CALC_DATA_DT)",
										"type": "Expression"
									},
									"P_FILENAME": {
										"value": "@activity('Lookup1').output.firstrow.FI_NM",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "dl_bin_ds",
								"type": "DatasetReference",
								"parameters": {
									"P_CONTAINER": {
										"value": "@pipeline().parameters.P_PRCS_OBJ.CNTNR",
										"type": "Expression"
									},
									"P_PATH": {
										"value": "@concat(pipeline().parameters.P_PRCS_OBJ.PTH, '/',pipeline().parameters.P_PRCS_OBJ.CALC_DATA_DT)",
										"type": "Expression"
									},
									"P_FILENAME": {
										"value": "@activity('Lookup1').output.firstrow.FI_NM",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Lookup1",
						"description": "  ",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": {
									"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA, '.[PROC_GET_FI]')",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"P_DATA_DT": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_PRCS_OBJ.CALC_DATA_DT",
											"type": "Expression"
										}
									},
									"P_FI_ID": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.P_PRCS_OBJ.FI_ID",
											"type": "Expression"
										}
									},
									"P_PRCS_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_PRCS_NM",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "mssql_cntl_ds",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Preprocessing",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Copy Raw",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "@concat('/', toUpper(pipeline().globalParameters.P_GLBL_ENV)  , '/00_Common/edp/adf/dbn-adf-preprocessing-wildcard-spark')",
								"type": "Expression"
							},
							"baseParameters": {
								"PARAMS": {
									"value": "@activity('Lookup1').output.firstrow.PARM",
									"type": "Expression"
								},
								"ENV": {
									"value": "@pipeline().globalParameters.P_GLBL_ENV",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "link_dbw_edp",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Preprocessing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Preprocessing').output.runOutput.Status,'Success')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "ABORT CHECK STREAM INFORMATION",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Update Fail Process",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": "SELECT 1/0",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "mssql_cntl_ds",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "Update Fail Process",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA, '.[PROC_UPDT_PRCS]')",
											"type": "Expression"
										},
										"storedProcedureParameters": {
											"P_CNT_FI_SRC": {
												"value": null,
												"type": "String"
											},
											"P_CNT_FI_TGT": {
												"value": null,
												"type": "String"
											},
											"P_CNT_REC_SRC": {
												"value": {
													"value": "@activity('Preprocessing').output.runOutput.ActualRecord",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_CNT_REC_TGT": {
												"value": null,
												"type": "String"
											},
											"P_LD_ID": {
												"value": {
													"value": "@pipeline().parameters.P_LD_ID",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_PRCS_NM": {
												"value": {
													"value": "@pipeline().parameters.P_PRCS_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_RMRK": {
												"value": {
													"value": "@activity('Preprocessing').output.runOutput.Description",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_ST": {
												"value": "Failed",
												"type": "String"
											},
											"P_CNT_REC_CNTL": {
												"value": {
													"value": "@activity('Preprocessing').output.runOutput.ExpectedRecord",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "link_sqldb_kkpb_edp",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Update Log Count",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Update Log Count Preprocess",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA, '.[PROC_UPDT_PRCS]')",
											"type": "Expression"
										},
										"storedProcedureParameters": {
											"P_CNT_FI_SRC": {
												"value": null,
												"type": "String"
											},
											"P_CNT_FI_TGT": {
												"value": null,
												"type": "String"
											},
											"P_CNT_REC_SRC": {
												"value": null,
												"type": "String"
											},
											"P_CNT_REC_TGT": {
												"value": {
													"value": "@activity('Preprocessing').output.runOutput.ActualRecord",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_LD_ID": {
												"value": {
													"value": "@pipeline().parameters.P_LD_ID",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_PRCS_NM": {
												"value": {
													"value": "@pipeline().parameters.P_PRCS_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_RMRK": {
												"value": null,
												"type": "String"
											},
											"P_ST": {
												"value": "Running",
												"type": "String"
											},
											"P_CNT_REC_CNTL": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "link_sqldb_kkpb_edp",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Update Log Count Preprocess",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA, '.[PROC_UPDT_PRCS]')",
											"type": "Expression"
										},
										"storedProcedureParameters": {
											"P_CNT_FI_SRC": {
												"value": null,
												"type": "String"
											},
											"P_CNT_FI_TGT": {
												"value": null,
												"type": "String"
											},
											"P_CNT_REC_SRC": {
												"value": {
													"value": "@activity('Preprocessing').output.runOutput.ActualRecord",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_CNT_REC_TGT": {
												"value": null,
												"type": "String"
											},
											"P_LD_ID": {
												"value": {
													"value": "@pipeline().parameters.P_LD_ID",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_PRCS_NM": {
												"value": {
													"value": "@pipeline().parameters.P_PRCS_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_RMRK": {
												"value": null,
												"type": "String"
											},
											"P_ST": {
												"value": "Running",
												"type": "String"
											},
											"P_CNT_REC_CNTL": {
												"value": {
													"value": "@activity('Preprocessing').output.runOutput.ExpectedRecord",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "link_sqldb_kkpb_edp",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"P_LD_ID": {
						"type": "string",
						"defaultValue": "-999"
					},
					"P_PRCS_NM": {
						"type": "string",
						"defaultValue": "GET_LOCATION_FACE_RECOGNITION_CustGeoInfo"
					},
					"P_PRCS_OBJ": {
						"type": "object"
					}
				},
				"folder": {
					"name": "COMMON JOB"
				},
				"annotations": [],
				"lastPublishTime": "2021-06-04T04:21:01Z"
			},
			"dependsOn": []
		}
	]
}