adf-kkpb-dev-edp/PartialArmTemplates/ArmTemplate_3_29_2021_20_1_22.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-kkpb-dev-edp"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/40_PCS_COMMON_TYPE3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Transform via databricks ",
				"activities": [
					{
						"name": "Notebook1",
						"description": "  ",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "@pipeline().parameters.P_PRCS_OBJ.ADB_NM",
								"type": "Expression"
							},
							"baseParameters": {
								"PARAMS": {
									"value": "@pipeline().parameters.P_PRCS_OBJ.ADB_PARM",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "link_dbw_edp",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"P_LD_ID": {
						"type": "string"
					},
					"P_PRCS_NM": {
						"type": "string"
					},
					"P_PRCS_OBJ": {
						"type": "object"
					}
				},
				"folder": {
					"name": "COMMON JOB"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-24T06:46:02Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy STG",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "RECORD_INDICATOR",
											"type": "String"
										},
										"sink": {
											"name": "RECORD_INDICATOR",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DATA_DT",
											"type": "DateTime",
											"format": "MM/dd/yyyy hh:mm:ss"
										},
										"sink": {
											"name": "DATA_DT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DATA_DT2",
											"type": "DateTime",
											"format": "yyyyMMdd"
										},
										"sink": {
											"name": "DATA_DT2",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "dl_csv_ds_test",
								"type": "DatasetReference",
								"parameters": {
									"P_PATH": "TMP/SOURCE/",
									"P_FILENAME": "TEST.txt",
									"P_CONTAINER": "working"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "dl_parquet_ds",
								"type": "DatasetReference",
								"parameters": {
									"P_CONTAINER": "working",
									"P_PATH": "TMP/SOURCE/",
									"P_FILENAME": "TEST.parquet"
								}
							}
						]
					}
				],
				"parameters": {
					"P_SCHEMA": {
						"type": "string"
					}
				},
				"folder": {
					"name": "TEST"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dl_csv_ds_test')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy STG",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup Schema",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"value": "@activity('Lookup Schema').output.firstRow",
								"type": "Expression"
							}
						},
						"inputs": [
							{
								"referenceName": "dl_csv_ds",
								"type": "DatasetReference",
								"parameters": {
									"P_PATH": "TMP/SOURCE/",
									"P_FILENAME": "TEST.txt",
									"P_DELIMITER": "|",
									"P_ENCODING": "UTF-8",
									"P_FIRSTROW_HDR": "Y",
									"P_CONTAINER": "working"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "dl_parquet_ds",
								"type": "DatasetReference",
								"parameters": {
									"P_CONTAINER": "working",
									"P_PATH": "TMP/SOURCE/",
									"P_FILENAME": "TEST.parquet"
								}
							}
						]
					},
					{
						"name": "Lookup Schema",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "dl_json_ds",
								"type": "DatasetReference",
								"parameters": {
									"P_FILENAME": "TEST.json"
								}
							}
						}
					}
				],
				"parameters": {
					"P_SCHEMA": {
						"type": "string"
					}
				},
				"folder": {
					"name": "TEST"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dl_csv_ds_test')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "  ",
				"linkedServiceName": {
					"referenceName": "link_st_kkpb_edp",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"P_PATH": {
						"type": "string"
					},
					"P_FILENAME": {
						"type": "string"
					},
					"P_CONTAINER": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().P_FILENAME",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().P_PATH",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().P_CONTAINER",
							"type": "Expression"
						}
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		}
	]
}