adf-kkpb-dev-edp/PartialArmTemplates/ArmTemplate_4_7_2021_9_17_19.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-kkpb-dev-edp"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/00_STREAM_COMMON')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "STREAM RESULT",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "UPDATE STREAM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": {
									"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_STREM_RSLT')",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"P_STREM_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_STREM_NM",
											"type": "Expression"
										}
									},
									"P_STREM_ID": {
										"type": "String",
										"value": {
											"value": "@activity('START STREAM').output.FIRSTROW.STREM_ID",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "mssql_cntl_ds",
								"type": "DatasetReference"
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "FINAL STREAM",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Until1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": {
									"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_FINL_STREM')",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"P_DATA_DT": {
										"type": "String",
										"value": {
											"value": "@activity('START STREAM').output.FIRSTROW.DATA_DT",
											"type": "Expression"
										}
									},
									"P_STREM_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_STREM_NM",
											"type": "Expression"
										}
									},
									"P_STREM_ID": {
										"type": "String",
										"value": {
											"value": "@activity('START STREAM').output.FIRSTROW.STREM_ID",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "mssql_cntl_ds",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "SEND EMAIL",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "GET EMAIL",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "STREAM RESULT",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-11.southeastasia.logic.azure.com:443/workflows/0c8fc5c0ef894032905ccf103cbe04a7/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=agmp-_JAWWQboJJN9WzVGHrl7MuFv6UUDPuhdqhiqAM",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "{\n\"Message\":\"@{activity('STREAM RESULT').output.firstrow.RESULT_SET}\",\n\"EmailTo\":\"@{activity('GET EMAIL').output.firstrow.EMAIL}\",\n\"Data_dt\":\"@{activity('FINAL STREAM').output.firstrow.DATA_DT_FORMAT}\",\n\"StreamName\":\"@{pipeline().parameters.P_STREM_NM}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "GET EMAIL",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "FINAL STREAM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": {
									"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_GET_EMAIL')",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"P_STREM_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_STREM_NM",
											"type": "Expression"
										}
									},
									"P_STREM_RSLT": {
										"type": "String",
										"value": {
											"value": "@activity('FINAL STREAM').output.FIRSTROW.STREM_RSLT",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "mssql_cntl_ds",
								"type": "DatasetReference"
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "START STREAM",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": {
									"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_STRT_STREM')",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"P_RUN_MODE": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_RUN_MODE",
											"type": "Expression"
										}
									},
									"P_STREM_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_STREM_NM",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "mssql_cntl_ds",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "UPDATE STREAM",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "FINAL STREAM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_UPDT_STREM')",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"P_STREM_NM": {
									"value": {
										"value": "@pipeline().parameters.P_STREM_NM",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_STREM_RSLT": {
									"value": {
										"value": "@activity('FINAL STREAM').output.firstrow.STREM_RSLT",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_STREM_ID": {
									"value": {
										"value": "@activity('START STREAM').output.FIRSTROW.STREM_ID",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "link_sqldb_kkpb_edp",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Until1",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Get Max Priority",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('V_LOOP'),activity('Get Max Priority').output.firstrow.prir)",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set variable2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_LOOP",
										"value": {
											"value": "@string(ADD(int(variables('V_TMP')),1))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable2",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_TMP",
										"value": {
											"value": "@variables('V_LOOP')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "05_COMMON_RUN_PCS_GRP_BY PRIR",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Set variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "05_COMMON_RUN_PCS_GRP_BY_PRIR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"P_STREAM": {
												"value": "@pipeline().parameters.P_STREM_NM",
												"type": "Expression"
											},
											"P_PRIR": {
												"value": "@variables('V_LOOP')",
												"type": "Expression"
											},
											"P_RUN_MODE": {
												"value": "@pipeline().parameters.P_RUN_MODE",
												"type": "Expression"
											},
											"P_STREM_ID": {
												"value": "@activity('START STREAM').output.FIRSTROW.STREM_ID",
												"type": "Expression"
											}
										}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					},
					{
						"name": "Get Max Priority",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "START STREAM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('SELECT MAX(PRIR) PRIR\nFROM [CNTL].[CNTL_CFG_PRCS_GRP]\nWHERE STREM_NM = ''', pipeline().parameters.P_STREM_NM, '''')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "mssql_cntl_ds",
								"type": "DatasetReference"
							}
						}
					}
				],
				"parameters": {
					"P_STREM_NM": {
						"type": "string",
						"defaultValue": "EDP_SET"
					},
					"P_RUN_MODE": {
						"type": "string",
						"defaultValue": "R"
					}
				},
				"variables": {
					"V_LOOP": {
						"type": "String",
						"defaultValue": "0"
					},
					"V_TMP": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "COMMON JOB"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-24T05:06:51Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/05_COMMON_RUN_PCS_GRP_BY_PRIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/00_STREAM_COMMON_2_bk')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": " ",
				"activities": [
					{
						"name": "START STREAM",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": {
									"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_STRT_STREM')",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"P_RUN_MODE": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_RUN_MODE",
											"type": "Expression"
										}
									},
									"P_STREM_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_STREM_NM",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "mssql_cntl_ds",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Check Active Flag",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "START STREAM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@EQUALS(activity('START STREAM').output.FIRSTROW.ACT_F,1)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "UPDATE STREAM_copy1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_UPDT_STREM')",
											"type": "Expression"
										},
										"storedProcedureParameters": {
											"P_STREM_NM": {
												"value": {
													"value": "@pipeline().parameters.P_STREM_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_STREM_RSLT": {
												"value": "SKIPPED",
												"type": "String"
											},
											"P_STREM_ID": {
												"value": {
													"value": "@activity('START STREAM').output.FIRSTROW.STREM_ID",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "link_sqldb_kkpb_edp",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "STREAM RESULT",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "FINAL STREAM",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderStoredProcedureName": {
												"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_STREM_RSLT')",
												"type": "Expression"
											},
											"storedProcedureParameters": {
												"P_STREM_NM": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.P_STREM_NM",
														"type": "Expression"
													}
												},
												"P_STREM_ID": {
													"type": "String",
													"value": {
														"value": "@activity('START STREAM').output.FIRSTROW.STREM_ID",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "mssql_cntl_ds",
											"type": "DatasetReference"
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "FINAL STREAM",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Until1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderStoredProcedureName": {
												"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_FINL_STREM')",
												"type": "Expression"
											},
											"storedProcedureParameters": {
												"P_DATA_DT": {
													"type": "String",
													"value": {
														"value": "@activity('START STREAM').output.FIRSTROW.DATA_DT",
														"type": "Expression"
													}
												},
												"P_STREM_NM": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.P_STREM_NM",
														"type": "Expression"
													}
												},
												"P_STREM_ID": {
													"type": "String",
													"value": {
														"value": "@activity('START STREAM').output.FIRSTROW.STREM_ID",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "mssql_cntl_ds",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "SEND EMAIL",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "GET EMAIL",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "UPDATE STREAM",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": "https://prod-27.southeastasia.logic.azure.com:443/workflows/ae3c11e07db340b39cd14f5b2ed0356a/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=r1EYZIlJt1ptTTkCekMQHnkWORNI-YGcR5tvGIGDNsg",
										"method": "POST",
										"headers": {
											"Content-Type": "application/json"
										},
										"body": {
											"value": "{\n\"Message\":\"@{activity('STREAM RESULT').output.firstrow.RESULT_SET}\",\n\"EmailTo\":\"@{activity('GET EMAIL').output.firstrow.EMAIL}\",\n\"Data_dt\":\"@{activity('FINAL STREAM').output.firstrow.DATA_DT_FORMAT}\",\n\"StreamName\":\"@{pipeline().parameters.P_STREM_NM}\"\n}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "GET EMAIL",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "FINAL STREAM",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderStoredProcedureName": {
												"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_GET_EMAIL')",
												"type": "Expression"
											},
											"storedProcedureParameters": {
												"P_STREM_NM": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.P_STREM_NM",
														"type": "Expression"
													}
												},
												"P_STREM_RSLT": {
													"type": "String",
													"value": {
														"value": "@activity('FINAL STREAM').output.FIRSTROW.STREM_RSLT",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "mssql_cntl_ds",
											"type": "DatasetReference"
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "UPDATE STREAM",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "STREAM RESULT",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_UPDT_STREM')",
											"type": "Expression"
										},
										"storedProcedureParameters": {
											"P_STREM_NM": {
												"value": {
													"value": "@pipeline().parameters.P_STREM_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_STREM_RSLT": {
												"value": {
													"value": "@activity('FINAL STREAM').output.firstrow.STREM_RSLT",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_STREM_ID": {
												"value": {
													"value": "@activity('START STREAM').output.FIRSTROW.STREM_ID",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "link_sqldb_kkpb_edp",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Until1",
									"type": "Until",
									"dependsOn": [
										{
											"activity": "Get Max Priority",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(variables('V_LOOP'),activity('Get Max Priority').output.firstrow.prir)",
											"type": "Expression"
										},
										"activities": [
											{
												"name": "Set variable1",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "Set variable2",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"variableName": "V_LOOP",
													"value": {
														"value": "@string(ADD(int(variables('V_TMP')),1))",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Set variable2",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "V_TMP",
													"value": {
														"value": "@variables('V_LOOP')",
														"type": "Expression"
													}
												}
											},
											{
												"name": "05_COMMON_RUN_PCS_GRP_BY PRIR",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "Set variable1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "05_COMMON_RUN_PCS_GRP_BY_PRIR",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"P_STREAM": {
															"value": "@pipeline().parameters.P_STREM_NM",
															"type": "Expression"
														},
														"P_PRIR": {
															"value": "@variables('V_LOOP')",
															"type": "Expression"
														},
														"P_RUN_MODE": {
															"value": "@pipeline().parameters.P_RUN_MODE",
															"type": "Expression"
														},
														"P_STREM_ID": {
															"value": "@activity('START STREAM').output.FIRSTROW.STREM_ID",
															"type": "Expression"
														}
													}
												}
											}
										],
										"timeout": "7.00:00:00"
									}
								},
								{
									"name": "Get Max Priority",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT MAX(PRIR) PRIR\nFROM [CNTL].[CNTL_CFG_PRCS_GRP]\nWHERE STREM_NM = ''', pipeline().parameters.P_STREM_NM, '''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "mssql_cntl_ds",
											"type": "DatasetReference"
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"P_STREM_NM": {
						"type": "string",
						"defaultValue": "EDP_SET"
					},
					"P_RUN_MODE": {
						"type": "string",
						"defaultValue": "R"
					}
				},
				"variables": {
					"V_LOOP": {
						"type": "String",
						"defaultValue": "0"
					},
					"V_TMP": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "BK"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-24T05:06:51Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/05_COMMON_RUN_PCS_GRP_BY_PRIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/00_STREAM_COMMON_temp')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": " ",
				"activities": [
					{
						"name": "GET PROCESS GROUP LIST",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "START STREAM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": {
									"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_GET_PRCS_GRP_BY_STREM')",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"P_STREM_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_STREM_NM",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "mssql_cntl_ds",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FOR EACH PROCESS GROUP",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GET PROCESS GROUP LIST",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GET PROCESS GROUP LIST').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "10_COMMON_RUN_PCS_GRP_temp",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "10_COMMON_RUN_PCS_GRP_temp",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"P_PRCS_GRP": {
												"value": "@item().PRCS_GRP",
												"type": "Expression"
											},
											"P_RUN_MODE": {
												"value": "@pipeline().parameters.P_RUN_MODE",
												"type": "Expression"
											},
											"P_STREM_ID": {
												"value": "@activity('START STREAM').output.FIRSTROW.STREM_ID",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "START STREAM",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": {
									"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_STRT_STREM')",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"P_RUN_MODE": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_RUN_MODE",
											"type": "Expression"
										}
									},
									"P_STREM_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_STREM_NM",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "mssql_cntl_ds",
								"type": "DatasetReference"
							}
						}
					}
				],
				"parameters": {
					"P_STREM_NM": {
						"type": "string",
						"defaultValue": "EDP_SET"
					},
					"P_RUN_MODE": {
						"type": "string",
						"defaultValue": "R"
					}
				},
				"variables": {
					"V_STREAM_RESULT": {
						"type": "String",
						"defaultValue": "-999"
					}
				},
				"folder": {
					"name": "BK"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-24T05:06:51Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/10_COMMON_RUN_PCS_GRP_temp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/05_COMMON_RUN_PCS_GRP_BY_PRIR')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": " ",
				"activities": [
					{
						"name": "GET PROCESS GROUP LIST",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": {
									"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_GET_PRCS_GRP_BY_STREM_2')",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"P_PRIR": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_PRIR",
											"type": "Expression"
										}
									},
									"P_STREM_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_STREAM",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "mssql_cntl_ds",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "FOR EACH PROCESS GROUP",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GET PROCESS GROUP LIST",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GET PROCESS GROUP LIST').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 20,
							"activities": [
								{
									"name": "Run Each Process Group",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "10_COMMON_RUN_PCS_GRP",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"P_PRCS_GRP": {
												"value": "@item().PRCS_GRP",
												"type": "Expression"
											},
											"P_RUN_MODE": {
												"value": "@pipeline().parameters.P_RUN_MODE",
												"type": "Expression"
											},
											"P_STREM_ID": {
												"value": "@pipeline().parameters.P_STREM_ID",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"P_STREAM": {
						"type": "string"
					},
					"P_PRIR": {
						"type": "string"
					},
					"P_RUN_MODE": {
						"type": "string"
					},
					"P_STREM_ID": {
						"type": "string"
					}
				},
				"folder": {
					"name": "COMMON JOB"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/10_COMMON_RUN_PCS_GRP_temp')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": " ",
				"activities": [
					{
						"name": "GET PROCESS LIST",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": {
									"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_GET_PRCS_BY_GRP')",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"P_PRCS_GRP": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_PRCS_GRP",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "mssql_cntl_ds",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GET PROCESS LIST",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GET PROCESS LIST').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "GET PROCESS INFORMATION",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "START PROCESS",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderStoredProcedureName": {
												"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA, '.[PROC_GET_PRCS]')",
												"type": "Expression"
											},
											"storedProcedureParameters": {
												"P_PRCS_NM": {
													"type": "String",
													"value": {
														"value": "@item().PRCS_NM",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "mssql_cntl_ds",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "Execute Pipeline Type 3",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "GET PROCESS INFORMATION",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "40_PCS_COMMON_TYPE3",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"P_LD_ID": {
												"value": "@activity('START PROCESS').output.FIRSTROW.LD_ID",
												"type": "Expression"
											},
											"P_PRCS_NM": {
												"value": "@item().PRCS_NM",
												"type": "Expression"
											},
											"P_PRCS_OBJ": {
												"value": "@activity('GET PROCESS INFORMATION').output.FIRSTROW",
												"type": "Expression"
											}
										}
									}
								},
								{
									"name": "START PROCESS",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderStoredProcedureName": {
												"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA, '.[PROC_STRT_PRCS]')",
												"type": "Expression"
											},
											"storedProcedureParameters": {
												"P_PRCS_NM": {
													"type": "String",
													"value": {
														"value": "@item().PRCS_NM",
														"type": "Expression"
													}
												},
												"P_RUN_MODE": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.P_RUN_MODE",
														"type": "Expression"
													}
												},
												"P_STREM_ID": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.P_STREM_ID",
														"type": "Expression"
													}
												},
												"P_ADF_RUN_ID": {
													"type": "String",
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "mssql_cntl_ds",
											"type": "DatasetReference"
										},
										"firstRowOnly": true
									}
								}
							]
						}
					}
				],
				"parameters": {
					"P_PRCS_GRP": {
						"type": "string"
					},
					"P_RUN_MODE": {
						"type": "string"
					},
					"P_STREM_ID": {
						"type": "string"
					}
				},
				"folder": {
					"name": "BK"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-24T05:06:49Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/40_PCS_COMMON_TYPE2_copy4')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Load text data from On-prim to STG",
				"activities": [
					{
						"name": "Copy Raw",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "onprim_bin_ds",
								"type": "DatasetReference",
								"parameters": {
									"P_PATH": {
										"value": "@concat(pipeline().parameters.P_PRCS_OBJ.PTH, '/', pipeline().parameters.P_PRCS_OBJ.CALC_DATA_DT)",
										"type": "Expression"
									},
									"P_FILENAME": {
										"value": "@activity('Lookup1').output.firstrow.FI_NM",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "dl_bin_ds",
								"type": "DatasetReference",
								"parameters": {
									"P_CONTAINER": {
										"value": "@pipeline().parameters.P_PRCS_OBJ.CNTNR",
										"type": "Expression"
									},
									"P_PATH": {
										"value": "@concat(pipeline().parameters.P_PRCS_OBJ.PTH, '/',pipeline().parameters.P_PRCS_OBJ.CALC_DATA_DT)",
										"type": "Expression"
									},
									"P_FILENAME": {
										"value": "@activity('Lookup1').output.firstrow.FI_NM",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": {
									"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA, '.[PROC_GET_FI]')",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"P_DATA_DT": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_PRCS_OBJ.CALC_DATA_DT",
											"type": "Expression"
										}
									},
									"P_FI_ID": {
										"type": "Int32",
										"value": {
											"value": "@pipeline().parameters.P_PRCS_OBJ.FI_ID",
											"type": "Expression"
										}
									},
									"P_PRCS_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_PRCS_NM",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "mssql_cntl_ds",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Preprocessing",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Copy Raw",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/DEV/00_Common/edp/adf/dbn-adf-preprocessing",
							"baseParameters": {
								"PARAMS": {
									"value": "@activity('Lookup1').output.firstrow.PARM",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "link_dbw_edp",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Lookup Schema",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "dl_json_ds",
								"type": "DatasetReference",
								"parameters": {
									"P_FILENAME": {
										"value": "@activity('Lookup1').output.firstrow.SCHM_FI",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Lookup Schema",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Preprocessing",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Preprocessing').output.runOutput.Status,'Success')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "ABORT CHECK STREAM INFORMATION",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": "SELECT 1/0",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "mssql_cntl_ds",
											"type": "DatasetReference"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Copy STG",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Update Log Count Preprocess",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false,
										"translator": {
											"value": "@activity('Lookup Schema').output.firstRow",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "dl_csv_ds",
											"type": "DatasetReference",
											"parameters": {
												"P_PATH": "TMP/SOURCE/",
												"P_FILENAME": {
													"value": "@replace(activity('Lookup1').output.firstrow.SCHM_FI,'.json', '.txt')",
													"type": "Expression"
												},
												"P_DELIMITER": {
													"value": "@activity('Lookup1').output.firstrow.DLM_STRNG",
													"type": "Expression"
												},
												"P_ENCODING": {
													"value": "@activity('Lookup1').output.firstrow.ENCDNG",
													"type": "Expression"
												},
												"P_FIRSTROW_HDR": "Y",
												"P_CONTAINER": "working"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "dl_parquet_ds",
											"type": "DatasetReference",
											"parameters": {
												"P_CONTAINER": {
													"value": "@pipeline().parameters.P_PRCS_OBJ.TGT_CNTNR",
													"type": "Expression"
												},
												"P_PATH": {
													"value": "@concat(pipeline().parameters.P_PRCS_OBJ.TGT_PTH,'/', pipeline().parameters.P_PRCS_OBJ.TGT_TBL, '/DATA_DT=', pipeline().parameters.P_PRCS_OBJ.CALC_DATA_DT)",
													"type": "Expression"
												},
												"P_FILENAME": {
													"value": "@concat(activity('Lookup1').output.firstrow.FI_NM)",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Update Log Count",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Copy STG",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA, '.[PROC_UPDT_PRCS]')",
											"type": "Expression"
										},
										"storedProcedureParameters": {
											"P_CNT_FI_SRC": {
												"value": null,
												"type": "String"
											},
											"P_CNT_FI_TGT": {
												"value": null,
												"type": "String"
											},
											"P_CNT_REC_SRC": {
												"value": null,
												"type": "String"
											},
											"P_CNT_REC_TGT": {
												"value": {
													"value": "@activity('Copy STG').output.rowsCopied",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_LD_ID": {
												"value": {
													"value": "@pipeline().parameters.P_LD_ID",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_PRCS_NM": {
												"value": {
													"value": "@pipeline().parameters.P_PRCS_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_RMRK": {
												"value": null,
												"type": "String"
											},
											"P_ST": {
												"value": "Running",
												"type": "String"
											},
											"P_CNT_REC_CNTL": {
												"value": null,
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "link_sqldb_kkpb_edp",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Update Log Count Preprocess",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA, '.[PROC_UPDT_PRCS]')",
											"type": "Expression"
										},
										"storedProcedureParameters": {
											"P_CNT_FI_SRC": {
												"value": null,
												"type": "String"
											},
											"P_CNT_FI_TGT": {
												"value": null,
												"type": "String"
											},
											"P_CNT_REC_SRC": {
												"value": {
													"value": "@activity('Preprocessing').output.runOutput.ActualRecord",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_CNT_REC_TGT": {
												"value": null,
												"type": "String"
											},
											"P_LD_ID": {
												"value": {
													"value": "@pipeline().parameters.P_LD_ID",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_PRCS_NM": {
												"value": {
													"value": "@pipeline().parameters.P_PRCS_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_RMRK": {
												"value": null,
												"type": "String"
											},
											"P_ST": {
												"value": "Running",
												"type": "String"
											},
											"P_CNT_REC_CNTL": {
												"value": {
													"value": "@activity('Preprocessing').output.runOutput.ExpectedRecord",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "link_sqldb_kkpb_edp",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Copy to Curated",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Update Log Count",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": {
											"value": "@pipeline().parameters.P_PRCS_OBJ.ADB_NM",
											"type": "Expression"
										},
										"baseParameters": {
											"PARAMS": {
												"value": "@pipeline().parameters.P_PRCS_OBJ.ADB_PARM",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "link_dbw_edp",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Update Fail Process",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "If Condition1",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA, '.[PROC_UPDT_PRCS]')",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"P_CNT_FI_SRC": {
									"value": null,
									"type": "String"
								},
								"P_CNT_FI_TGT": {
									"value": null,
									"type": "String"
								},
								"P_CNT_REC_SRC": {
									"value": {
										"value": "@activity('Preprocessing').output.runOutput.ActualRecord",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_CNT_REC_TGT": {
									"value": null,
									"type": "String"
								},
								"P_LD_ID": {
									"value": {
										"value": "@pipeline().parameters.P_LD_ID",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_PRCS_NM": {
									"value": {
										"value": "@pipeline().parameters.P_PRCS_NM",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_RMRK": {
									"value": {
										"value": "@activity('Preprocessing').output.runOutput.Description",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_ST": {
									"value": "Failed",
									"type": "String"
								},
								"P_CNT_REC_CNTL": {
									"value": {
										"value": "@activity('Preprocessing').output.runOutput.ExpectedRecord",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "link_sqldb_kkpb_edp",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"P_LD_ID": {
						"type": "string",
						"defaultValue": "-999"
					},
					"P_PRCS_NM": {
						"type": "string",
						"defaultValue": "GET_LOCATION_FACE_RECOGNITION_CustGeoInfo"
					},
					"P_PRCS_OBJ": {
						"type": "object"
					}
				},
				"folder": {
					"name": "BK"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-24T06:46:02Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/onprim_bin_wc_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "  ",
				"linkedServiceName": {
					"referenceName": "link_fs_kkpb_dev_edp",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation"
					}
				}
			},
			"dependsOn": []
		}
	]
}