adf-kkpb-dev-edp/PartialArmTemplates/ArmTemplate_3_25_2021_18_44_18.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-kkpb-dev-edp"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/00_STREAM_COMMON_2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "STREAM RESULT",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "UPDATE STREAM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": {
									"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_STREM_RSLT')",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"P_STREM_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_STREM_NM",
											"type": "Expression"
										}
									},
									"P_STREM_ID": {
										"type": "String",
										"value": {
											"value": "@activity('START STREAM').output.FIRSTROW.STREM_ID",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "mssql_cntl_ds",
								"type": "DatasetReference"
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "FINAL STREAM",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Until1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": {
									"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_FINL_STREM')",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"P_DATA_DT": {
										"type": "String",
										"value": {
											"value": "@activity('START STREAM').output.FIRSTROW.DATA_DT",
											"type": "Expression"
										}
									},
									"P_STREM_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_STREM_NM",
											"type": "Expression"
										}
									},
									"P_STREM_ID": {
										"type": "String",
										"value": {
											"value": "@activity('START STREAM').output.FIRSTROW.STREM_ID",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "mssql_cntl_ds",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "SEND EMAIL",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "GET EMAIL",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "STREAM RESULT",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-27.southeastasia.logic.azure.com:443/workflows/ae3c11e07db340b39cd14f5b2ed0356a/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=r1EYZIlJt1ptTTkCekMQHnkWORNI-YGcR5tvGIGDNsg",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"value": "{\n\"Message\":\"@{activity('STREAM RESULT').output.firstrow.RESULT_SET}\",\n\"EmailTo\":\"@{activity('GET EMAIL').output.firstrow.EMAIL}\",\n\"Data_dt\":\"@{activity('FINAL STREAM').output.firstrow.DATA_DT_FORMAT}\",\n\"StreamName\":\"@{pipeline().parameters.P_STREM_NM}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "GET EMAIL",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "FINAL STREAM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": {
									"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_GET_EMAIL')",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"P_STREM_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_STREM_NM",
											"type": "Expression"
										}
									},
									"P_STREM_RSLT": {
										"type": "String",
										"value": {
											"value": "@activity('FINAL STREAM').output.FIRSTROW.STREM_RSLT",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "mssql_cntl_ds",
								"type": "DatasetReference"
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "START STREAM",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": {
									"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_STRT_STREM')",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"P_RUN_MODE": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_RUN_MODE",
											"type": "Expression"
										}
									},
									"P_STREM_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_STREM_NM",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "mssql_cntl_ds",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "UPDATE STREAM",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "FINAL STREAM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": {
								"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_UPDT_STREM')",
								"type": "Expression"
							},
							"storedProcedureParameters": {
								"P_STREM_NM": {
									"value": {
										"value": "@pipeline().parameters.P_STREM_NM",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_STREM_RSLT": {
									"value": {
										"value": "@activity('FINAL STREAM').output.firstrow.STREM_RSLT",
										"type": "Expression"
									},
									"type": "String"
								},
								"P_STREM_ID": {
									"value": {
										"value": "@activity('START STREAM').output.FIRSTROW.STREM_ID",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "link_sqldb_kkpb_edp",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Until1",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Get Max Priority",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('V_LOOP'),activity('Get Max Priority').output.firstrow.prir)",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set variable2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_LOOP",
										"value": {
											"value": "@string(ADD(int(variables('V_TMP')),1))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set variable2",
									"type": "SetVariable",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_TMP",
										"value": {
											"value": "@variables('V_LOOP')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "05_COMMON_RUN_PCS_GRP_BY PRIR",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Set variable1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "05_COMMON_RUN_PCS_GRP_BY PRIR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"P_STREAM": {
												"value": "@pipeline().parameters.P_STREM_NM",
												"type": "Expression"
											},
											"P_PRIR": {
												"value": "@variables('V_LOOP')",
												"type": "Expression"
											},
											"P_RUN_MODE": {
												"value": "@pipeline().parameters.P_RUN_MODE",
												"type": "Expression"
											},
											"P_STREM_ID": {
												"value": "@activity('START STREAM').output.FIRSTROW.STREM_ID",
												"type": "Expression"
											}
										}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					},
					{
						"name": "Get Max Priority",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "START STREAM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('SELECT MAX(PRIR) PRIR\nFROM [CNTL].[CNTL_CFG_PRCS_GRP]\nWHERE STREM_NM = ''', pipeline().parameters.P_STREM_NM, '''')",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "mssql_cntl_ds",
								"type": "DatasetReference"
							}
						}
					}
				],
				"parameters": {
					"P_STREM_NM": {
						"type": "string",
						"defaultValue": "EDP_SET"
					},
					"P_RUN_MODE": {
						"type": "string",
						"defaultValue": "R"
					}
				},
				"variables": {
					"V_LOOP": {
						"type": "String",
						"defaultValue": "0"
					},
					"V_TMP": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "COMMON JOB"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-24T05:06:51Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/00_STREAM_COMMON_2_bk')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": " ",
				"activities": [
					{
						"name": "START STREAM",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": {
									"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_STRT_STREM')",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"P_RUN_MODE": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_RUN_MODE",
											"type": "Expression"
										}
									},
									"P_STREM_NM": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.P_STREM_NM",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "mssql_cntl_ds",
								"type": "DatasetReference"
							}
						}
					},
					{
						"name": "Check Active Flag",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "START STREAM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@EQUALS(activity('START STREAM').output.FIRSTROW.ACT_F,1)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "UPDATE STREAM_copy1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_UPDT_STREM')",
											"type": "Expression"
										},
										"storedProcedureParameters": {
											"P_STREM_NM": {
												"value": {
													"value": "@pipeline().parameters.P_STREM_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_STREM_RSLT": {
												"value": "SKIPPED",
												"type": "String"
											},
											"P_STREM_ID": {
												"value": {
													"value": "@activity('START STREAM').output.FIRSTROW.STREM_ID",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "link_sqldb_kkpb_edp",
										"type": "LinkedServiceReference"
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "STREAM RESULT",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "FINAL STREAM",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderStoredProcedureName": {
												"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_STREM_RSLT')",
												"type": "Expression"
											},
											"storedProcedureParameters": {
												"P_STREM_NM": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.P_STREM_NM",
														"type": "Expression"
													}
												},
												"P_STREM_ID": {
													"type": "String",
													"value": {
														"value": "@activity('START STREAM').output.FIRSTROW.STREM_ID",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "mssql_cntl_ds",
											"type": "DatasetReference"
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "FINAL STREAM",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Until1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderStoredProcedureName": {
												"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_FINL_STREM')",
												"type": "Expression"
											},
											"storedProcedureParameters": {
												"P_DATA_DT": {
													"type": "String",
													"value": {
														"value": "@activity('START STREAM').output.FIRSTROW.DATA_DT",
														"type": "Expression"
													}
												},
												"P_STREM_NM": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.P_STREM_NM",
														"type": "Expression"
													}
												},
												"P_STREM_ID": {
													"type": "String",
													"value": {
														"value": "@activity('START STREAM').output.FIRSTROW.STREM_ID",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "mssql_cntl_ds",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "SEND EMAIL",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "GET EMAIL",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "UPDATE STREAM",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": "https://prod-27.southeastasia.logic.azure.com:443/workflows/ae3c11e07db340b39cd14f5b2ed0356a/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=r1EYZIlJt1ptTTkCekMQHnkWORNI-YGcR5tvGIGDNsg",
										"method": "POST",
										"headers": {
											"Content-Type": "application/json"
										},
										"body": {
											"value": "{\n\"Message\":\"@{activity('STREAM RESULT').output.firstrow.RESULT_SET}\",\n\"EmailTo\":\"@{activity('GET EMAIL').output.firstrow.EMAIL}\",\n\"Data_dt\":\"@{activity('FINAL STREAM').output.firstrow.DATA_DT_FORMAT}\",\n\"StreamName\":\"@{pipeline().parameters.P_STREM_NM}\"\n}",
											"type": "Expression"
										}
									}
								},
								{
									"name": "GET EMAIL",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "FINAL STREAM",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderStoredProcedureName": {
												"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_GET_EMAIL')",
												"type": "Expression"
											},
											"storedProcedureParameters": {
												"P_STREM_NM": {
													"type": "String",
													"value": {
														"value": "@pipeline().parameters.P_STREM_NM",
														"type": "Expression"
													}
												},
												"P_STREM_RSLT": {
													"type": "String",
													"value": {
														"value": "@activity('FINAL STREAM').output.FIRSTROW.STREM_RSLT",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "mssql_cntl_ds",
											"type": "DatasetReference"
										},
										"firstRowOnly": true
									}
								},
								{
									"name": "UPDATE STREAM",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "STREAM RESULT",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": {
											"value": "@concat(pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.PROC_UPDT_STREM')",
											"type": "Expression"
										},
										"storedProcedureParameters": {
											"P_STREM_NM": {
												"value": {
													"value": "@pipeline().parameters.P_STREM_NM",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_STREM_RSLT": {
												"value": {
													"value": "@activity('FINAL STREAM').output.firstrow.STREM_RSLT",
													"type": "Expression"
												},
												"type": "String"
											},
											"P_STREM_ID": {
												"value": {
													"value": "@activity('START STREAM').output.FIRSTROW.STREM_ID",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "link_sqldb_kkpb_edp",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Until1",
									"type": "Until",
									"dependsOn": [
										{
											"activity": "Get Max Priority",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(variables('V_LOOP'),activity('Get Max Priority').output.firstrow.prir)",
											"type": "Expression"
										},
										"activities": [
											{
												"name": "Set variable1",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "Set variable2",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"variableName": "V_LOOP",
													"value": {
														"value": "@string(ADD(int(variables('V_TMP')),1))",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Set variable2",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "V_TMP",
													"value": {
														"value": "@variables('V_LOOP')",
														"type": "Expression"
													}
												}
											},
											{
												"name": "05_COMMON_RUN_PCS_GRP_BY PRIR",
												"type": "ExecutePipeline",
												"dependsOn": [
													{
														"activity": "Set variable1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "05_COMMON_RUN_PCS_GRP_BY PRIR",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"P_STREAM": {
															"value": "@pipeline().parameters.P_STREM_NM",
															"type": "Expression"
														},
														"P_PRIR": {
															"value": "@variables('V_LOOP')",
															"type": "Expression"
														},
														"P_RUN_MODE": {
															"value": "@pipeline().parameters.P_RUN_MODE",
															"type": "Expression"
														},
														"P_STREM_ID": {
															"value": "@activity('START STREAM').output.FIRSTROW.STREM_ID",
															"type": "Expression"
														}
													}
												}
											}
										],
										"timeout": "7.00:00:00"
									}
								},
								{
									"name": "Get Max Priority",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT MAX(PRIR) PRIR\nFROM [CNTL].[CNTL_CFG_PRCS_GRP]\nWHERE STREM_NM = ''', pipeline().parameters.P_STREM_NM, '''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "mssql_cntl_ds",
											"type": "DatasetReference"
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"P_STREM_NM": {
						"type": "string",
						"defaultValue": "EDP_SET"
					},
					"P_RUN_MODE": {
						"type": "string",
						"defaultValue": "R"
					}
				},
				"variables": {
					"V_LOOP": {
						"type": "String",
						"defaultValue": "0"
					},
					"V_TMP": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "COMMON JOB"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-24T05:06:51Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MAIN_BATCH_SP1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stream TIDE Staging",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "00_STREAM_COMMON_2_bk",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_STREM_NM": "EDP_TIDE",
								"P_RUN_MODE": "N"
							}
						}
					},
					{
						"name": "Stream Tide Culated",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stream TIDE Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "00_STREAM_COMMON_2_bk",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_STREM_NM": "EDP_TIDE_CR",
								"P_RUN_MODE": "N"
							}
						}
					},
					{
						"name": "Stream DLT Staging",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "00_STREAM_COMMON_2_bk",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_STREM_NM": "EDP_DLT",
								"P_RUN_MODE": "N"
							}
						}
					},
					{
						"name": "Stream DLT Culated",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stream DLT Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "00_STREAM_COMMON_2_bk",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_STREM_NM": "EDP_DLT_CR",
								"P_RUN_MODE": "N"
							}
						}
					},
					{
						"name": "Stream KK Staging",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "00_STREAM_COMMON_2_bk",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_STREM_NM": "EDP_KK",
								"P_RUN_MODE": "N"
							}
						}
					},
					{
						"name": "Stream KK Culated",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stream KK Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "00_STREAM_COMMON_2_bk",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_STREM_NM": "EDP_KK_CR",
								"P_RUN_MODE": "N"
							}
						}
					},
					{
						"name": "Stream RIB Staging",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "00_STREAM_COMMON_2_bk",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_STREM_NM": "EDP_RIB",
								"P_RUN_MODE": "N"
							}
						}
					},
					{
						"name": "Stream RIB Culated",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stream RIB Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "00_STREAM_COMMON_2_bk",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_STREM_NM": "EDP_RIB_CR",
								"P_RUN_MODE": "N"
							}
						}
					},
					{
						"name": "Stream RBE Staging",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "00_STREAM_COMMON_2_bk",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_STREM_NM": "EDP_RBE",
								"P_RUN_MODE": "N"
							}
						}
					},
					{
						"name": "Stream RBE Culated",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stream RBE Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "00_STREAM_COMMON_2_bk",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_STREM_NM": "EDP_RBE_CR",
								"P_RUN_MODE": "N"
							}
						}
					},
					{
						"name": "Stream BOT Staging",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "00_STREAM_COMMON_2_bk",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_STREM_NM": "EDP_BOT",
								"P_RUN_MODE": "N"
							}
						}
					},
					{
						"name": "Stream BOT Culated",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stream BOT Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "00_STREAM_COMMON_2_bk",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_STREM_NM": "EDP_BOT_CR",
								"P_RUN_MODE": "N"
							}
						}
					},
					{
						"name": "Stream RE Staging",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "00_STREAM_COMMON_2_bk",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_STREM_NM": "EDP_RE",
								"P_RUN_MODE": "N"
							}
						}
					},
					{
						"name": "Stream RE Culated",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stream RE Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "00_STREAM_COMMON_2_bk",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_STREM_NM": "EDP_RE_CR",
								"P_RUN_MODE": "N"
							}
						}
					},
					{
						"name": "Stream SET Staging",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "00_STREAM_COMMON_2_bk",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_STREM_NM": "EDP_SET",
								"P_RUN_MODE": "N"
							}
						}
					},
					{
						"name": "Stream SET Culated",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stream SET Staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "00_STREAM_COMMON_2_bk",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_STREM_NM": "EDP_SET_CR",
								"P_RUN_MODE": "N"
							}
						}
					},
					{
						"name": "Stream BANK Staging",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "00_STREAM_COMMON_2_bk",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_STREM_NM": "EDP_BANK",
								"P_RUN_MODE": "N"
							}
						}
					},
					{
						"name": "EXT_TABLE_KK",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stream KK Culated",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXT_TABLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_STREAM": "EDP_KK_CR"
							}
						}
					},
					{
						"name": "EXT_TABLE_BOT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stream BOT Culated",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXT_TABLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_STREAM": "EDP_BOT_CR"
							}
						}
					},
					{
						"name": "EXT_TABLE_TIDE",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stream Tide Culated",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXT_TABLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_STREAM": "EDP_TIDE_CR"
							}
						}
					},
					{
						"name": "EXT_TABLE_RBE",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stream RBE Culated",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXT_TABLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_STREAM": "EDP_RBE_CR"
							}
						}
					},
					{
						"name": "EXT_TABLE_DLT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Stream DLT Culated",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXT_TABLE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_STREAM": "EDP_DLT_CR"
							}
						}
					}
				],
				"folder": {
					"name": "BATCH"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-05T04:52:16Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/00_STREAM_COMMON_2_bk')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RUN_INITIAL_LOOP')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "RUN_LOOP",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('V_DATA_DT'), '20110310')",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "00_STREAM_COMMON",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "00_STREAM_COMMON_2_bk",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"P_STREM_NM": {
												"value": "@pipeline().parameters.P_STREAM_NM",
												"type": "Expression"
											},
											"P_RUN_MODE": "N"
										}
									}
								},
								{
									"name": "Lookup1",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "00_STREAM_COMMON",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('SELECT  CONVERT(VARCHAR, [CALC_DATA_DT], 112) AS DATA_DT FROM ',pipeline().globalParameters.P_GLBL_CNTL_SCHEMA,'.[CNTL_CFG_STREM] WHERE STREM_NM = ''' , pipeline().parameters.P_STREAM_NM, '''')",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "mssql_cntl_ds",
											"type": "DatasetReference"
										}
									}
								},
								{
									"name": "Set variable1",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Lookup1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "V_DATA_DT",
										"value": {
											"value": "@activity('Lookup1').output.firstrow.data_dt",
											"type": "Expression"
										}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"parameters": {
					"P_STREAM_NM": {
						"type": "string"
					}
				},
				"variables": {
					"V_DATA_DT": {
						"type": "String"
					}
				},
				"folder": {
					"name": "TEST"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/00_STREAM_COMMON_2_bk')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "00_STREAM_COMMON",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "00_STREAM_COMMON_2_bk",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_STREM_NM": "EDP_SET",
								"P_RUN_MODE": "R"
							}
						}
					},
					{
						"name": "00_STREAM_COMMON1",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "00_STREAM_COMMON",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "00_STREAM_COMMON_2_bk",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_STREM_NM": "EDP_SET_CR",
								"P_RUN_MODE": "R"
							}
						}
					}
				],
				"folder": {
					"name": "UTILS"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/00_STREAM_COMMON_2_bk')]"
			]
		}
	]
}